SCIM - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User "Manager" not RFC7643 Compliant

Hello,

Environment
  - Budibase Version: 2.33
  - Self hosted server single Docker image
  - Enterprise license
  - User management with SCIM sync to Azure Entra

**Bug description**
When users and groups provisioning is launched by Azure Entra we received an error message for updating some users.
Error code: SystemForCrossDomainIdentityManagementServiceIncompatible
Error message: Failed to match an entry in the source and target systems User 'user@domain.tld'; Error: We are not able to deserialize the resource received from your SCIM endpoint because your SCIM endpoint is not fully compatible with the Azure Active Directory SCIM client.

After investigation I have found this case:
Users who don't have a configured manager are successfuly synced
Users with a manager syncing fail.

**Received by Azure Entra from Budibase**
```
{
    "schemas": [
        "urn:ietf:params:scim:schemas:core:2.0:User"
    ],
    "externalId": "user",
    "userName": "user@doamin.tld",
    "active": true,
    "displayName": "User NAME",
    "emails": [
        {
            "primary": true,
            "type": "work",
            "value": "user@doamin.tld"
        }
    ],
    "meta": {
        "resourceType": "User",
        "created": "2024-08-28T12:39:26.120Z",
        "lastModified": "2024-08-28T12:40:48.496Z"
    },
    "name": {
        "formatted": "User",
        "givenName": "User"
    },
    "title": "Employee",
    "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
        "department": "Sales",
        "employeeNumber": "99999",
        "manager": "us_e6xxxxxxxxxxxxxxxxxxxxx9f48"
    },
    "id": "us_86xxxxxxxxxxxxxxxxxxxxxe78"
}
```
Regarding [RFC7643 Section 4.3](https://www.rfc-editor.org/rfc/rfc7643.html#section-4.3) manager in urn:ietf:params:scim:schemas:extension:enterprise:2.0:User should be "A complex type that optionally allows service providers to represent organizational hierarchy by referencing the "id" attribute of another User"
Returned field is a string.

**Expected urn:ietf:params:scim:schemas:extension:enterprise:2.0:User record**
```
   ...
    "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
        "department": "Sales",
        "manager": {
                "$ref": "",
                "displayName": null,
                "value": "us_e6xxxxxxxxxxxxxxxxxxxxx9f48"
        },
        "organization": ""
    },
   ...
```




Sorry for the delay, this should work fine now

Thank you! 
Tested today version 3.23.14 everything working fine.